<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
		
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/series-label.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>
		<!--<link rel="stylesheet" href= "{{ url_for('static',filename='css/mystyle.css') }}>-->
		
	</head>
	<body>
		<div>
			<h1 style="text-align: center;">Nasdaq 100 Stock Info</h1><br>
		</div>
		<div style="display:flex; justify-content:center">
			<div id="dropdownselection" style="margin:7px;"> <!--source for multiselect dropdown: https://codepen.io/bruce0205/pen/dvZJeJ-->
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
				  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
				  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

				  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
				  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

				<script>
						$(document).ready(function() {
							$('#multiple-checkboxes').multiselect({
							  includeSelectAllOption: false,
							});
						});
				</script>
				<div class="">
					<strong>Select Stock(s):</strong>
					<select id="multiple-checkboxes" multiple="multiple">
						<!--<option value="AAPL">AAPL</option>-->
						<script>
							let stock_list = {{ stocks | tojson }};
							for (i in stock_list){ 
								$('#multiple-checkboxes').append('<option value="' + stock_list[i] + '">' + stock_list[i] +'</option>');
							}
							
						</script>

					</select>
				</div>
			</div>
			
			<div style="margin:10;"> <strong>Date Range:</strong> <input id="datepicker" type="text"></div>
			<script>
				new Litepicker({
				  element: document.getElementById('datepicker'),
				  singleMode: false
				})
			</script>
			<script>
				var series_data = [];
				var my_series = [];
				var series_x_y = [];
				function get_data() {
					var selected_stocks = $("li[class=active] input").map(function() {
						return $(this).val();
					}).get();
				
					fetch(`${window.origin}/data_query`, {
						  method: "POST",
						  credentials: "include",
						  body: JSON.stringify(selected_stocks),
						  cache: "no-cache",
						  headers: new Headers({
							"content-type": "application/json"
						  })
						})
							.then(
								function (response) {
									if (response.status !== 200) {
										console.log('Problem. Status code = ' + response.status);
										return;
									}
									response.json().then(function (data) {
										console.log(data);
										raw_data = data;
										/*logic here*/
										var keys = Object.keys(raw_data);
										/*series = "["
										for (var i = 0; i < keys.length; i++) {
											if (i != 0) {
												series = series + ",";
											}
											series = series + "{'name':'" + keys[i] + "', data:[";
											for (var j = 0; j < raw_data[keys[i]].prices.length; j++) {
												if (j != 0) {
													series = series + ",";
												}
												series = series + raw_data[keys[i]].prices[j].close
											}
											series = series + "}]";
										}*/
										for (var i = 0; i < keys.length; i++) {
											for (var j = 0; j < raw_data[keys[i]].prices.length; j++) {
												series_x_y.push(raw_data[keys[i]].prices[j].formatted_date);
												series_x_y.push(raw_data[keys[i]].prices[j].close);
												series_data.push(series_x_y);
											}
											my_series.push({
												'name': keys[i],
												data: series_data
											});
											series_data = [];
											series_x_y = [];
										}
									});
								}
							)
							
							.catch(function(err) {
								console.log('Fetch Error :-S', err);
							});
							
				}
			</script>
			<input type="button" id="submit" value="Submit" style="height:30px; margin:8px;" onclick="get_data();">

		</div>
		<div>
			<figure class="highcharts-figure">
				<div id="container"></div>
			</figure>
		</div>
		<script>
		var serObj = [
	{'name':'Series 1', data:[8,9,8,6,5,2,3,6,5,7,4,5,8,9]},
  {'name':'Series 2', data:[8,5,6,9,8,7,4,5,2,5,8,7,8,6]}
  ];

var series = [];
 series = my_series;

			Highcharts.chart('container', {

				title: {
					text: 'Daily Stock Price'
				},

				xAxis: {
						type: 'datetime',
						dateTimeLabelFormats: {
						   day: '%d %b %Y'    //ex- 01 Jan 2016
						}
				},
				
				yAxis: {
					title: {
						text: 'Price ($)'
					}
				},

				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle'
				},

				/*plotOptions: {
					series: {
						label: {
							connectorAllowed: false
						},
						pointStart: Date.UTC(2021, 6, 5),
								pointInterval: 3600 * 1000 * 24// 24 hours
					}
				},*/

				series: series,

				responsive: {
					rules: [{
						condition: {
							maxWidth: 500
						},
						chartOptions: {
							legend: {
								layout: 'horizontal',
								align: 'center',
								verticalAlign: 'bottom'
							}
						}
					}]
				}

			});
		</script>
		<div>
			Current Stock Price
		</div>
</body>

</html>