<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
		
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/series-label.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/accessibility.js"></script>
		<!--<link rel="stylesheet" href= "{{ url_for('static',filename='css/mystyle.css') }}>-->
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		
	</head>
	<body>
		<div>
			<h1 style="text-align: center;">Nasdaq 100 Stock Info</h1><br>
		</div>
		<div style="display:flex; justify-content:center">
			<div id="dropdownselection" style="margin:7px;"> <!--source for multiselect dropdown: https://codepen.io/bruce0205/pen/dvZJeJ-->
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
				  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
				  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

				  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
				  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

				<script>
						$(document).ready(function() {
							$('#multiple-checkboxes').multiselect({
							  includeSelectAllOption: false,
							});
						});
				</script>
				<div class="">
					<strong>Select Stock(s):</strong>
					<select id="multiple-checkboxes" multiple="multiple">
						<!--<option value="AAPL">AAPL</option>-->
						<script>
							let stock_list = {{ stocks | tojson }};
							for (i in stock_list){ 
								$('#multiple-checkboxes').append('<option value="' + stock_list[i] + '">' + stock_list[i] +'</option>');
							}
							
						</script>

					</select>
				</div>
			</div>
			
			<div style="margin:10;"> <strong>Date Range:</strong> <input id="datepicker" type="text"></div>
			<script>
				/*let date_selection = new Litepicker({
				  element: document.getElementById('datepicker'),
				  singleMode: false
				})*/
				const fp = flatpickr("#datepicker", {
					mode: "range",
					allowInput: false,
					dateFormat: "Y-m-d",
				});
			</script>

			<input type="button" id="submit" value="Create Chart" style="height:30px; margin:8px;" onclick="get_data();">
<script>

</script>
		</div>
		<div>
			<figure id="figure_hc" class="highcharts-figure">
				<div id="container"></div>
			</figure>
		</div>
			<script>
				var series_data = [];
				var my_series = [];
				var series_x_y = [];
				function get_data() {
					my_series = [];
					var selected_stocks = $("li[class=active] input").map(function() {
						return $(this).val();
					}).get();
					
					start = fp.selectedDates[0].getFullYear() + '-' + (fp.selectedDates[0].getMonth() + 1) + '-' + fp.selectedDates[0].getDate()
					end = fp.selectedDates[1].getFullYear() + '-' + (fp.selectedDates[1].getMonth() + 1) + '-' + (fp.selectedDates[1].getDate() + 1)
					
					params = {
						stocks: selected_stocks,
						start_date: start,
						end_date: end
					}
					fetch(`${window.origin}/data_query`, {
						  method: "POST",
						  credentials: "include",
						  body: JSON.stringify(params),
						  cache: "no-cache",
						  headers: new Headers({
							"content-type": "application/json"
						  })
						})
							.then(
								function (response) {
									if (response.status !== 200) {
										console.log('Problem. Status code = ' + response.status);
										return;
									}
									response.json().then(function (data) {
										raw_data = data;

										
										var keys = Object.keys(raw_data);
										for (var i = 0; i < keys.length; i++) {
											for (var j = 0; j < raw_data[keys[i]].prices.length; j++) {
												series_x_y.push(new Date(raw_data[keys[i]].prices[j].formatted_date).getTime());
												series_x_y.push(parseFloat(raw_data[keys[i]].prices[j].close.toFixed(2)));
												series_data.push(series_x_y);
												series_x_y = [];
											}
											my_series.push({
												'name': keys[i],
												data: series_data
											});
											series_data = [];
											
										}
									});
								}						
							)
							
							.catch(function(err) {
								console.log('Fetch Error :-S', err);
							});

							var series = [];
							series = my_series;
							chart_info = {

								title: {
									text: 'Daily Stock Price'
								},

								xAxis: {
										type: 'datetime',
										labels: {
										  format: '{value:%Y-%b-%e}'
										},
								},
								
								yAxis: {
									title: {
										text: 'Price ($)'
									}
								},

								legend: {
									layout: 'vertical',
									align: 'right',
									verticalAlign: 'middle'
								},

								/*plotOptions: {
									series: {
										label: {
											connectorAllowed: false
										},
										pointStart: Date.UTC(2021, 6, 5),
												pointInterval: 3600 * 1000 * 24// 24 hours
									}
								},*/

								series: series,

								responsive: {
									rules: [{
										condition: {
											maxWidth: 500
										},
										chartOptions: {
											legend: {
												layout: 'horizontal',
												align: 'center',
												verticalAlign: 'bottom'
											}
										}
									}]
								}

							}
							setTimeout(() => {let chart = Highcharts.chart('container', chart_info);; }, 1000);


				}
			</script>
		<div>
			Current Stock Price
		</div>
</body>

</html>