<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
		
	</head>
	<body>
		<div>
			<h1 style="text-align: center;">Nasdaq 100 Stock Info</h1><br>
		</div>
		<div style="display:flex; justify-content:center">
			<div id="dropdownselection" style="margin:7px;"> <!--source for multiselect dropdown: https://codepen.io/bruce0205/pen/dvZJeJ-->
				  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
				  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
				  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

				  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
				  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

				<script>
						$(document).ready(function() {
							$('#multiple-checkboxes').multiselect({
							  includeSelectAllOption: false,
							});
						});
				</script>
				<div class="">
					<strong>Select Stock(s):</strong>
					<select id="multiple-checkboxes" multiple="multiple">
						<!--<option value="AAPL">AAPL</option>-->
						<script>
							let stock_list = {{ stocks | tojson }};
							document.write(stock_list);
							for (i in stock_list){ 
								$('#multiple-checkboxes').append('<option value="' + stock_list[i] + '">' + stock_list[i] +'</option>');
							}
						</script>

					</select>
				</div>
			</div>
			
			<div style="margin:10;"> <strong>Date Range:</strong> <input id="datepicker" type="text"></div>
			<script>
				new Litepicker({
				  element: document.getElementById('datepicker'),
				  singleMode: false
				})
			</script>
			
			<input type="submit" value="Submit" style="height:30px; margin:8px;">

		
		</div>
</body>

</html>